.banner{
    width: 100%;
    display: "block"
}

.banner > a > .image_banner{
    width: 100%;
    display: "block";
    height: 200px
}

#ThankYouMessage {
    color: blue;
    margin: 150px;
    padding-top: 20px;

}
#netflix_image {
    width: 200px;
    height: 100px
}
#hulu_image {
    width: 200px;
    height: 100px
}
#prime_image {
    width: 200px;
    height: 100px
}
#platform_row {
    margin: 200px;
    padding-bottom: 100px;
}
body {
    background-color:black;
    /* background-image: url("https://i.pinimg.com/originals/eb/83/29/eb832997557c4a6b764cfcadbf3bfd68.jpg"); */
    /* background-image: url("https://i.pinimg.com/originals/75/9b/5d/759b5dc967fd459f31d48b40304a9d24.jpg"); */
    /* background-image: url("https://images4.alphacoders.com/240/240858.jpg"); */
    /* background-image: url("https://www.decalgirl.com/assets/designs/large/web.jpg"); */
    background-image: url("https://i.redd.it/9zwu8hlp6u621.jpg");
    
  }