<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body {
    font-family: Arial;
    background-color: black;
    background-image: url("../data/marvels-spider-man-2.jpg");
    
    background-repeat: no-repeat;
    
  } 
</style>
</head>
<link rel="stylesheet" href="../static/css/imdb.css">
<body>

<h2>Search Button</h2>
<form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search movie title...." name="search1">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

</body>
</html> 