<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movie Streaming</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/test.css">

 
</head>

<body> 

  <!-- <div class = "banner">
    <a href = "/backhome">
    <img class= "image_banner" href = "/backhome" src="https://st.depositphotos.com/1152339/1746/i/950/depositphotos_17468049-stock-photo-information-concept-data-analysis-on.jpg" alt="Movie time">
    </a>
  </div> -->
  <div class="navbar">
    <a href="#home">Home</a>
    <a href="#news">Movie Search</a>  
    <div class="dropdown">
      <button class="dropbtn">Machine Learning 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Duration</a>
        <a href="#">Avg Votes</a>
        <a href="#">Critic Reviews</a>
        
      </div>
    </div> 
  </div>
    <div class="row">
      <div class="col-sm-12 jumbotron text-center">
       
        <h1>Movies Analytics Dashboard</h1>
        <p>Click the Search Button below</p>
      </div>
    </div>
    <button type="button" id = "search_button" class="btn btn-primary btn-md"> Movie Search  
        <a href="/search" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Click Here</a>
    </button>
      
    <div class="row">
      <div class = "column">
        <div class="col-md-4">
          <div id="bar"></div>
        </div>
        
        <div class="column">
          <div class="col-md-4">
          <div id="pie"></div>
        </div> 
        <div class="column">
          <div class="col-md-4">
            <div id="bubble"></div>
        </div>  
      </div> 


    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <!-- <h3>Movie Streaming Platforms</h3> -->
        <h3 style="background-color:rgb(104, 108, 112);">Movie Streaming Platforms</h3>
        <!-- <p style="background-color:Tomato;"> -->
        <p>For more information on movies please click the following buttons</p>
        <a href="https://www.netflix.com/" title="Go to netflix HTML section"> Netflix</a>
        <a href="https://www.hulu.com//" title="Go to hulu HTML section"> Hulu</a>
        <a href="https://www.primevideo.com//" title="Go to primevideo HTML section"> Prime_Video</a>
      </div>
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/homeapp.js"></script>


  

</body>

</html>
